.listCover {
  position: relative;
  /* border: 2px solid black; */
  top: 5%;
  width: 86%;
  height: 75%;
  left: 5%;
  padding: 1%;
}

.title{
  width: 50%;
}

/* .titleContainer {
  justify-content: space-between;
  display: flex;
} */

/* .sortNameBtn {
  position: relative;
  height: 50px;
  width: 4%;
  right: 2%;
  top: 16px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e96e494a;
  cursor: pointer;
}

.sortPriceBtn {
  position: relative;
  height: 50px;
  width: 4%;
  left: 36%;
  top: 16px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e96e494a;
  cursor: pointer;
} */

.list {
  position: relative;
  /* border: 2px solid red; */
  height: 75%;
  width: 100%;
  list-style: none;
  align-items: center;
  padding: 1%;
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  /* overflow-x: scroll; */
}

.pagination {
  list-style: none;
  position: relative;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .pagenum {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 400;
  transition: background-color 1s, color 1s;
}

.pagination .pagenum:hover {
  background-color: #b5948c83;
  /* color: white; */
}

