.profileFeedWrapper {
  flex: 80%;
  overflow-y: scroll;
}

.profileContent {
  width: 99%;
  height: 95%;
  position: relative;
  margin-bottom: -10%;
  align-items: center;
}

.displayText {
  position: relative;
  top: 40%;
  left: 40%;
  font-size: 35px;
  border: 2px solid black;
  padding: 1%;
  border-radius: 30px;
  background-color: #b5948c83;
}

.line {
  position: relative;
  top: 5%;
}
