.sidebarMain {
  flex: 20%;
  width: 100px;
  height: 100%;
  position: sticky;
  /* overflow-y: scroll; */
}

.profileWrapper {
  border: 2px solid black;
  background-color: #b5948c83;
  position: relative;
  height: 6%;
  width: 70%;
  left: 15%;
  top: 4%;
  padding: 5px;
  display: flex;
  border-radius: 40px;
  transition: box-shadow 1s;
}

.profileWrapper:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(37, 37, 37, 0.234);
}

.imgWrapper {
  flex: 20%;
}

.imgWrapper img {
  position: relative;
  border: 1px solid black;
  width: 90%;
  height: 90%;
  left: 8%;
  top: 2%;
  border-radius: 50%;
  transition: box-shadow 1s;
}

.imgWrapper img:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(37, 37, 37, 0.234);
}

.nameWrapper {
  flex: 80%;
  position: relative;
  left: 5%;
  top: -20%;
}
.nameWrapper h1 {
  position: relative;
  font-weight: 500;
  padding: 2px;
  font-size: 20px;
  transition: color 1s;
}

.nameWrapper h1:hover {
  cursor: pointer;
  color: #3b1002;
}

.nameWrapper span {
  position: relative;
  top: -30%;
  opacity: 0.7;
  padding: 2px;
  font-size: 12px;
}

.optionsWrapper {
  border: 2px solid black;
  background-color: #b5948c83;
  position: relative;
  height: 50%;
  width: 70%;
  left: 15%;
  top: 10%;
  padding: 5px;
  border-radius: 40px;
}

.optionCover {
  display: flex;
  position: relative;
  left: 7%;
  width: 90%;
  height: 12%;
  align-items: center;
}

.optionCover span {
  position: relative;
  left: 5%;
  color: black;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 1s;
}

.optionCover span:hover {
  cursor: pointer;
  color: #3b1002;
}

.icon {
  font-size: 27px !important;
  color: black;
}

hr {
  border: 1px solid black;
  position: relative;
  top: -5px;
  width: 90%;
}

.optionCover a {
  text-decoration: none;
}

.optionCover a span {
  position: relative;
  top: -5px;
}

.badge {
  background-color: #e96e494a;
  color: white;
  border-radius: 12px;
  padding: 0.4rem 1rem;
  margin-left: 0.5rem;
}
