.productFeedWrapper {
  flex: 80%;
  overflow-y: scroll;
}

.productWrapper {
  position: relative;
  border: 2px solid black;
  left: 12%;
  height: 85%;
  width: 75%;
  align-items: center;
  margin: 2.5%;
  justify-content: center;
  display: flex;
  background-color: rgba(255, 231, 231, 0.905);
  border-radius: 35px;
}

.imageContent {
  flex: 50%;
  height: 100%;
}

.imageWrapper {
  margin: 5%;
  height: 90%;
  min-height: 90%;
  max-height: 90%;
}

.imageWrapper img {
  object-fit: fill;
  border: 2px solid black;
  min-height: 100%;
  max-height: 100%;
  height: 100%;
  width: 100%;
  border-radius: 35px;
}

.infoContent {
  position: relative;
  top: 2.5%;
  margin: 1% 1% 2% 1%;
  height: 100%;
  flex: 50%;
}

.infoUp {
  /* border: 1px solid green; */
  margin: 2%;
  border: 2px solid black;
  height: 20%;
  padding: 0.5%;
  align-items: center;
  border-radius: 35px;
  background-color: #e96e494a;
}

.itemInfoUp {
  position: relative;
  left: 5%;
  top: 0.1%;
  margin-bottom: 1.25%;
  bottom: 10%;
  height: 70%;
}

.itemInfoUp h1 {
  position: relative;
  top: 5%;
  font-size: 190%;
  padding: 1%;
}

.itemInfoDown {
  position: relative;
  left: 3%;
  height: 30%;
  bottom: 25%;
  display: flex;
}

.itemInfoDown span {
  font-size: 20px;
  position: relative;
  left: 3%;
}
.addBtn {
  position: relative;
  left: 30%;
  height: 85%;
  width: 10%;
  bottom: 3%;
  border-radius: 10px;
  background-color: #b5948c83;
}

.bargainBtn {
  position: relative;
  left: 33%;
  height: 85%;
  bottom: 3%;
  width: 10%;
  border-radius: 10px;
  background-color: #b5948c83;
}

.icon {
  font-size: 25px !important;
}

.infoMid {
  border: 2px solid black;
  margin: 2%;
  height: 10%;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e96e494a;
}

.infoMid span {
  font-size: 130%;
  margin: 5%;
}

.infoMid input {
  border: 1px solid black;
  height: 35%;
  width: 45%;
  padding: 1.5%;
  border-radius: 13px;
  background-color: #e4b3a683;
}

.infoDown {
  border: 2px solid black;
  margin: 2%;
  height: 58%;
  border-radius: 35px;
  background-color: #e96e494a;
}

.submitBtn {
  position: relative;
  width: 13%;
  height: 40px;
  border-radius: 30px;
  margin: 2%;
  background-color: #d3ab9f74;
  transition: background-color 1s, box-shadow 1s;
}

.submitBtn:hover {
  cursor: pointer;
  background-color: #b5948c83;
  box-shadow: 2px 2px 5px 2px rgba(37, 37, 37, 0.234);
}

.description {
  width: 94%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
  left: 5%;
  font-size: 140%;
}

.descriptionHeader {
  left: 5%;
}
