.formBackground {
  background-color: #e96e494a;
  width: 100%;
  height: calc(100vh - 42px);
  top: 42px;
  left: 0;
  position: fixed;
}

.formBlock {
  background-color: white;
  width: 60%;
  height: 30%;
  top: calc(((100vh - 80%)) / 2);
  left: calc((100vw - 60%) / 2);
  border-radius: 2.2rem;
  display: flex;
}

.formBlockLeft {
  background-color: #edc1b783;
  width: 60%;
}

.formBlockRight {
  width: 50%;
  background-color: #dbaba183;
  height: 100%;
}

.productImg {
  position: relative;
  top: 10%;
  left: 5%;
  min-height: 550px;
  max-height: 550px;
}

.productImg img {
  position: relative;
  object-fit: fill;
  width: 90%;
  height: 100%;
  border-radius: 20px;
  /* border: 1px solid black; */
  min-height: 550px;
  max-height: 550px;
}

.ProductForm {
  position: relative;
  top: 6%;
}

.ProductTitle {
  font-weight: lighter;
  text-align: center;
}

.product-form {
  position: relative;
  left: 9%;
}

.product-box {
  /* border: 1px solid black; */
  padding: 0.3rem;
  margin-right: 4rem;
  margin-left: 5rem;
  width: 60%;
  height: 2.1rem;
  border-radius: 20px;
  transition: box-shadow 1s;
  margin-bottom: 1.5rem;
  background-color: #edc1b783;
  display: flex;
}

.product-box:hover {
  box-shadow: 2px 2px 2px 2px rgba(63, 60, 60, 0.234);
}

.product-wrapper {
  display: flex;
  margin-left: 5px;
  margin-top: 2px;
  padding: 2px;
}

select {
  display: flex;
  margin-left: 5px;
  margin-top: 2px;
  padding: 2px;
}

.submit-button {
  padding: 0.3rem;
  margin-right: 4rem;
  margin-left: 5.3rem;
  width: 60%;
  height: 2rem;
  border-radius: 20px;
  text-align: center;
  background-color: #e96e494a;
  transition: box-shadow 1s, background-color 1s;
  border: 0.5px solid black;
}

.submit-button:hover {
  box-shadow: 2px 2px 2px 2px rgba(63, 60, 60, 0.234);
  background-color: #e267674a;
}

.categoryBox {
  border-radius: 10px;
  background-color: #e96e494a;
}

.image-file {
  position: relative;
  left: 3%;
  top: 20%;
}

.image-label {
  position: relative;
  left: 1%;
  top: 12%;
}

/* label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  max-width: 100%;
}

input[type='text'],
textarea,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type='file'] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

input[type='file']::before {
  content: 'Choose file';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

input[type='file']::-webkit-file-upload-button {
  visibility: hidden;
}

input[type='file']:hover::before {
  background-color: #f2f2f2;
}

input[type='file']:focus::before {
  outline: 2px solid #4da6ff;
}

button[type='submit'] {
  background-color: #4da6ff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type='submit']:hover {
  background-color: #4087d8;
}
 */
