.adCover {
  /* border: 1px solid black; */
  width: 90%;
  height: 35%;
  left: 5%;
  position: relative;
  top: 4%;
  border-radius: 35px;
}

.adCover img {
  object-fit: cover;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 35px;
}
