.homeWrapper {
  flex: 80%;
  overflow-y: scroll;
  position: relative;
  z-index: 0;
}

.icon {
  font-size: 30px ;
}

.sortNameBtn {
  position: relative;
  height: 50px;
  width: 4%;
  right: 6%;
  top: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e96e494a;
  top: 45px;
}

.sortPriceBtn {
  position: relative;
  height: 50px;
  width: 4%;
  left: 85.5%;
  top: 45px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e96e494a;
}

.sortPriceBtn:hover , .sortNameBtn:hover{
  cursor: pointer;
}

.titleContainer {
  justify-content: space-between;
  display: flex;
}

.icon{
  font-size: 30px !important; 
}
