.background {
  background-color: #e96e494a;
  width: 100%;
  height: calc(100vh - 42px);
  top: 42px;
  left: 0;
  position: fixed;
}

.center-block {
  background-color: white;
  width: 60%;
  height: 80%;
  position: fixed;
  top: calc(((100vh - 80%)) / 2);
  left: calc((100vw - 60%) / 2);
  border-radius: 2.2rem;

  display: flex;
}

.center-block:hover {
  cursor: pointer;
}

.center-block-left {
  width: 45%;
  border-radius: 2.2rem 0rem 0rem 2.2rem;
}

.center-block-right {
  width: 55%;
  transition: box-shadow 1s;
  border-radius: 0rem 2.2rem 2.2rem 0rem;
  background-color: #edc1b783;
}

.center-block-right:hover {
  box-shadow: 2px 2px 2px 2px rgba(63, 60, 60, 0.234);
}

.loginImage {
  border-radius: 2.2rem 0rem 0rem 2.2rem;
  transition: box-shadow 1s;
  width: calc(100%);
  height: calc(100%);
}

.loginImage:hover {
  box-shadow: 2px 2px 2px 2px rgba(63, 60, 60, 0.234);
}

.signup-title {
  font-weight: lighter;
  text-align: center;
}

.input-box {
  /* border: 1px solid black; */
  margin-top: 4.5%;
  margin-right: 4rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  width: 90%;
  height: 2rem;
  border-radius: 20px;
  transition: box-shadow 1s;
  margin-bottom: 30px;
  background-color: #edc1b783;
}

.input-box:hover {
  box-shadow: 2px 2px 2px 2px rgba(63, 60, 60, 0.234);
}

.inner-wrapper {
  display: flex;
  margin-left: 5px;
  margin-top: 2px;
  padding: 2px;
}

.input-value {
  border: none;
  display: block;
  width: 25rem;
  margin-left: 5px;
  margin-top: 1.7px;
  background-color: #f1cfc883;
}

.input-value:focus {
  outline: none;
}

.icon {
  margin-top: 1spx;
  display: inline;
}

.signup-button {
  margin-top: 3%;
  padding: 0.3rem;
  margin-right: 4rem;
  margin-left: 1.3rem;
  width: 93%;
  height: 2.4rem;
  border-radius: 20px;
  text-align: center;
  background-color: #e96e494a;
  transition: box-shadow 1s, background-color 1s;
  border: 0.5px solid black;
}

.signup-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px 2px rgba(63, 60, 60, 0.234);
  background-color: #e96e4969;
}
