.listCover {
  position: relative;
  top: 5%;
  width: 88%;
  height: 75%;
  left: 5%;
  padding: 1%;
}

.list {
  position: relative;
  right: 3%;
  /* border: 2px solid red; */
  height: 85%;
  width: 97.5%;
  list-style: none;
  align-items: center;
  padding: 1%;
  align-items: center;
  justify-content: space-between;
  overflow-y: scroll;
}
.pagination {
  list-style: none;
  position: relative;
  bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .pagenum {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 50px;
  font-weight: 400;
  transition: background-color 1s, color 1s;
}

.pagination .pagenum:hover {
  background-color: #b5948c83;
  /* color: white; */
}
